body{
	background-color: #f2f2f2;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}
a{
	color: black;
}
a:hover{
	color: #20809f;
}
#logo{
	font-size: 150px;
	color: #ffaf2b;
	text-align: center;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: 'Brush Script MT', cursive;
	text-decoration: none;
}
#cart{
	width: 35px;
	height:25px;
	float: right;
	position: relative;
	top: -150px;
}
#login{
	font-size: 15px;
	float: left;
	position: relative;
	top: -150px;
	line-height: 20px;
	display: inline-block;
}
#navigation{
	width: 100%;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li{
	float: left;
	border-right: 1px solid #bbb;
}
li:last-child{
	border-right: none;
}
li a, .dropbtn{
	display: inline-block;
	color: #333;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	width: 150px;
	font-size: 20px;
}
li a:hover, .dropdown:hover .dropbtn{
	color: #FFAF2B;
};
li.dropdown{
	display: inline-block;
}
.dropdowncontent{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdowncontent a{
	color: #333;
	padding: 5px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 15px;
}
.dropdowncontent a:hover{
	color: #AD6C01;
	background-color: #f1f1f1;
}
.dropdown:hover .dropdowncontent{
	display: block;
}
#bigcontainer{
	margin: 10px 30px;
	float: left;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	flex-direction: row;
	flex-wrap: wrap;
	z-index: -1;
}
.box{
	min-width: 100%;
	height: auto;
	flex: 1 0 100%;
	box-sizing: border-box;
	margin: 10px;
}
.box1{
	width: 50%;
	margin-right: 50px;
}
.box2 a{
	text-decoration: none;
}
.box2 a:hover{
	color: #ad6c01;
}
.box3{
	font-size: 85px;
	text-align: center;
}
.box4, .box5{
	font-size: 30px;
	text-align: center;
}
@media(min-width: 640px){
	.box1{
		float: left;
	}
	.box1, .box2, .box4, .box5{
		min-width: calc(50% - 30px);
		flex-basis: calc(50% - 30px);
	}
}
#smallheader{
	font-size: 25px;
	line-height: 75px;
}
#detail{
	font-size: 20px;
	line-height: 25px;
}
#bom{
	width: 80%;
	height: auto;
	margin-top: 20px;
}
#cp{
	width: 60%;
	height: auto;
	margin-top: 20px;
}